<agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [iconUrl]="m.icon"
    [markerDraggable]="m.draggable">

    <agm-info-window>
      <h1>Hello there</h1>
      <strong>{{ m.info }}</strong>     
      <p>This is {{ m.label }}</p>       
    </agm-info-window>

  </agm-marker>

</agm-map>