<div class="storelocator-panel">

  <form class="storelocator-filter">
    <div class="location-search">
      <input placeholder="Find a store" autocomplete="off">
    </div>
  </form>

  <ul class="store-list">
    <li class="store" id="store-4">
      <div class="store">
        <div class="title">Uptown</div>
        <div class="web">
          <a href="https://spa810.dev.rshft.com/Uptown" target="_blank">Visit Website</a>
        </div>
        <div class="address">2222 McKinney Ave Suite 120
          <br>Dallas, TX, 75201</div>
        <div class="phone">469-730-3333</div>
        <ul class="features"></ul>
      </div>
      <div class="detail">
        <div class="detail-icon"></div>
      </div>
    </li>
  </ul>

</div>
